

<li><%= link_to 'Create genre', new_genre_path%></li>
<li><%= link_to 'Main page', main_index_path%></li>


  <div >
    <table >
      <thead >
      <tr>
        <th >Genre Name</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.name %></td>
          <td><%= link_to 'Show', genre_path(genre.id) %></td>


      <% end %>
      </table>
  </div>

