

<li><%= link_to 'Create Actors', new_actor_path%></li>
<li><%= link_to 'Back to movies', movies_path%></li>


  <div >
    <table >
      <thead >
      <tr>
        <th >Author Name</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @actors.each do |actor| %>
        <tr>
          <td><%= actor.name %></td>
          <td><%= button_to 'Delete', actor_path(actor.id), method: :delete, data: { confirm: 'Are you sure?' }  %></td>


      <% end %>
      </table>
  </div>

