<!-- header -->
    <header class="header">
        <div class="container-fluid px-lg-5">
            <!-- nav -->
            <nav class="py-4">
                <div id="logo">
                    <h1> <a href="index.html" class="editContent" style="outline: none; outline-offset: -2px; cursor: inherit; color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(0, 0, 0, 0);">Movie site</a></h1>
                </div>

                <label for="drop" class="toggle">Menu</label>
                <input type="checkbox" id="drop">
                <ul class="menu mt-2">
                    <li class="active"><a href="/">Головна</a></li>

                    <% if user_signed_in? %>
                        <%= button_to 'Вихід', destroy_user_session_path , method: 'delete'%>
                    <% else %>
                        <%= button_to 'Реєстрація', new_user_registration_path , method: 'get'%>
                        <%= button_to 'Вхід',new_user_session_path , method: 'get'%>
                    <% end %>

                </ul>
            </nav>
            <!-- //nav -->
        </div>
    </header>
    <!-- //header -->
    <!--/banner-->
    <div class="banner-info">
        <h3 class="mb-4 editContent">Курсова робота 2х чітких студентів</h3>
        <div class="ban-buttons">

        </div>
    </div>
    <!--// banner-inner -->