<div class="review">
  <p><strong><%= review.name %></strong></p>
  <p><%= review.text %></p>

  <%= render partial: 'review_form', locals: { parent_id: review.id } %>

  <% review.replies.each do |nested_review| %>
    <%= render  'review',  review: nested_review %>
  <% end %>


</div>