

<li><%= link_to 'Create short', new_movie_short_path%></li>
<li><%= link_to 'Main page', main_index_path%></li>


  <div >
    <table >
      <thead >
      <tr>
        <th >Shorts Name</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @movie_shorts.each do |movie_short| %>
        <tr>
          <td><%= movie_short.title %></td>
          <td><%= link_to 'Show', movie_short_path(movie_short.id) %></td>


      <% end %>
      </table>
  </div>

